/* rgb(25, 50, 125) */

body, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	line-height: 1.6;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	/*font-size: 26px;*/
	
	/*background-color: rgb(52, 61, 75);*/
	/*background-color: rgb(65, 90, 120);*/
	
	background-image: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url('images/hero.jpg');
	background-size: cover;
	background-attachment: fixed;
	
	height: 100vh;
	width: 100vw;
}

/* Navigation */

header {
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	position: relative;
	top: 0;
	right: 0;
	height: 60px;
	width: 100vw;
	
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color: rgb(25, 60, 125);
}

#logo {
	display: inline-block;
	
	font-size: 1.8rem;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
}

#navSearch {
	display: flex;
	align-items: center;
	
	width: 30%;
	height: 65%;
	max-width: 600px;
	
	padding: 0px 10px;
	
	border-radius: 24px;
	background-color: rgba(240, 240, 240, 0.3);
}

#input {
	width: 100%;
	padding: 0px 10px;
	
	background-color: transparent;
	outline: none;
	border: none;
	color: rgb(255, 255, 255);
}

#input::placeholder {
	color: rgb(255, 255, 255);
}

#search {
	color: rgb(255, 255, 255);
	order: -1;
}

#main {
  
}

/* Grid Layout */


#gridContainer {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
  
  width: 80%;
	max-width: 1200px;
	
	margin: 24px auto;
	
	z-index: 100;
}

#cardContainer {
	display: grid;
	grid-template-areas: 
	"card1"
	"card2" 
  "card3"
 /* "card4" */
  "card5"
  "card6";
	grid-gap: 12px;
}

#cardContainer > div {
	width: 100%;
	
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}

#card1 {
	grid-area: card1;
}

#card2 {
	grid-area: card2;
}

#card3 {
	grid-area: card3;
}

#card4 {
	grid-area: card4;
}

#card5 {
	grid-area: card5;
}

#card6 {
	grid-area: card6;
}


/* Weather Cards */

/*Current Conditions*/

#currentConditions {
	padding: 15px 15px;
}

#currentConditionsLocation {
	font-size: 1.5rem;
	font-weight: 600;
}

#currentConditionsTime {
	font-size: 1.25rem;
}

#currentConditionsData {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

#currentConditionsLeft {
	text-align: left;
}

#currentConditionsRight {
	text-align: right;
	
}

#currentConditionsTemp {
	font-size: 6rem;
	font-weight: 500;
	line-height: 1;
}

#currentConditionsDesc {
	font-size: 1.5rem;
	font-weight: 600;
	
	margin-top: -10px;
}

#currentConditionsData2 {
	font-size: 1.05rem;
	font-weight: 400;
}

/* Today's Weather */

#todaysWeather {
  padding: 15px 15px;
}

#todaysWeatherHeader {
  font-size: 1.5rem;
  font-weight: 600;
  
  margin-bottom: 15px;
}

#todaysWeatherForecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#todaysWeatherForecast > div {
  text-align: center;
  padding: 0px 25px;
  
  border-right-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(200, 200, 200), rgba(0, 0, 0, 0)) 1 100%;
}

#todaysWeatherForecast > div:last-child {
  border-right: none;
}

.todaysWeatherCardHeader {
  font-size: 1.2rem;
  
}

.todaysWeatherTemp {
  font-size: 1.1rem;
}

.todaysWeatherIcon {
  
}

/* Weather Data */

#weatherData {
  padding: 15px 15px;
}

#weatherDataHeader {
  font-size: 1.5rem;
  font-weight: 600;
}

#weatherDataGrid {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: repeat(2, 1fr);
}

#weatherDataLeft {
  margin-left: -15px;
}

#weatherDataRight {
  margin-right: -15px;
}

#weatherDataLeft, #weatherDataRight {
  padding: 0;
  margin-top: 40px;
}

#weatherDataLeft > div, #weatherDataRight > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 6px 20px;
  
  border-top: 1px solid red;
  border-top-width: 1px;
  border-top-style: solid;
  /*border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(200, 200, 200), rgba(0, 0, 0, 0)) 50;*/
  border-color: rgb(200, 200, 200);
}

/* Daily Weather */
#dailyWeather {
  padding: 15px 15px;
}

#dailyWeatherHeader {
  font-size: 1.5rem;
  font-weight: 400;
  
  margin-bottom: 15px;
}

#dailyWeatherForecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#dailyWeatherForecast > div{
  text-align: center;
  padding: 0px 0px;
  
  border-right-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(200, 200, 200), rgba(0, 0, 0, 0)) 1 100%;
}

#dailyWeatherForecast > div:last-child {
  border-right: none;
}

.dailyWeatherCardDate {
  font-size: 1.2rem;
  
}
.dailyWeatherTemp {
  font-size: 1.1rem;
}

/* Icons */

.locationIcon {
	display: inline-block;
}

.dailyWeatherIcon{
  height: 100px;
  width: 100px;
}

.todaysWeatherIcon {
  height: 150px;
  width: 150px;
}

#currentConditionsIcon {
  height: 200px;
  width: 200px;
}

/* Media Queries */
